<app-navbar></app-navbar>
<div class="container">
    <h1>Should you draft a QB?</h1>
    <p>It sure seems like the question every GM in the NFL wants to answer come April every year.
        With the help of Machine Learning, while they still cannot answer it for certain, at least 
        they'll be able to make a data-backed decision.
    </p>
    <p>
        The predictions given by the algorithms are just that, predictions. They should most definitely
        be taken with a grain of salt. If an algorithm that accurately predicts success at the NFL level
        existed, teams would not spend nearly as much on the Scouting Department.
    </p>
    <p>
        In this app you'll be able to get a prediction on Quarterback Rating for first year quarterbacks
        taking into account their offensive line, and their college stats.
    </p>
    <p>
        Also, how many wins a team is expected to have in a season given different stats like quarterback rating, 
        total offense and total defense. You will probably be surprised as to how influential quarterback play is 
        to the success of a team.
    </p>
    <p>
        Last but not least, you'll get an answer to the decades old question, should you draft a QB? This question would 
        normally get a very subjective answer, because it is not easy to assess. However, here we get 
        the answer based on what another team in a similar situation did in the past. Was it the correct decision? We can't 
        really answer that, we only want to know if we should, given the situation we are in.
    </p>
    <p>
        Click on the algorithm you are interested in and get your predictions!
    </p>
</div>
<app-footer></app-footer>