default:
  image: node:10

stages:
  - lint
  - audit
  - build
  - deploy

install:
  stage: .pre
  inherit:
    default: [image]
  script: npm ci
  artifacts:
    expire_in: 1 day
    paths:
      - node_modules/
  
lint: 
  stage: lint
  needs: ['install']
  inherit:
    default: [image]
  allow_failure: false
  script: npm run lint

audit:
  stage: audit
  needs: ['install']
  inherit:
    default: [image]
  allow_failure: true
  script: npm audit

build:
  stage: build
  needs: ['install']
  inherit:
    default: [image]
  script: npm run build
  artifacts:
    expire_in: 1 day
    paths:
      - dist/

deploy:
  only: ['master']
  image: google/cloud-sdk:alpine
  stage: deploy
  script:
    - echo $KEY_FILE | base64 -d > /tmp/gae_auth.json
    - gcloud auth activate-service-account --key-file /tmp/gae_auth.json
    - gcloud app deploy app.yaml --project=$PROJECT
  after_script:
    - rm /tmp/gae_auth.json
