<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="/">Should you draft a QB?</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targett="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/rookie-predictor">Rookie QB Rating Predictor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wins-predictor">Wins Expected Predictor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/should-you-do-it">The Answer</a>
            </li>
        </ul>
    </div>
</nav>